
  body {
    background-image: url(../images/diamond_upholstery.png);
    

    
  }

  img{
    
    width: 300px;
    margin-right: 20px;

  }
  #blank-word{
    font-size: 32px;
    font-color: red;

  }
  #allowed-guess{
    font-size: 20px;

  }
  #wins{
    font-size: 20px;

  }
  #losses{
    font-size: 20px;

  }


  hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 3px;
  }

  .chosen-letters{
    float: left;
    text-decoration: underline;


  }

  .jumbotron{
    text-align: center;
    text-decoration-style: wavy;
    margin-left:  20px;
   } 

.right-side{
  text-align: center;
}

 
 #left-side-word{
    border-style: solid;
    text-align: center;
    
 } 
  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }
  
  .letter-button-color {
    color: blue;
  }
  
  .fridge-color {
    color: black;
  }
  
  #display {
    margin-top: 78px;
    /*height: 500px;*/
    /*width: 200px; */
    margin-left: 10px;
  }
  
  #buttons {
    padding-top: 60px;
  }
  
  #clear {
    margin-left: 20px;
    font-size: 15px;
    color: blue;
    border-style: solid;
    width: 80px;
  }
  #invalid-guesses{
    border-style: inset;
    border-color: grey;
  }